sudo: required
language: python

python:
  - "3.6"
  - "3.7"
  - "3.8"

services:
    - docker

cache:
    pip: true

before_install:
    - sudo apt-get install -y lame

install:
    - pip install tox-travis
    - pip install coveralls

# command to run tests
script:
    - tox

after_success:
  - coveralls


