include bin/mishmash

include AUTHORS
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include Makefile
include tox.ini

graft docs

recursive-include ./tests *.py

global-exclude __pycache__
global-exclude .editorconfig
global-exclude *.py[co]

recursive-include requirements *.txt
