include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include Makefile
include tox.ini

graft docs
prune docs/_build

recursive-include ./tests *.py

exclude .cookiecutter.yml
exclude .gitchangelog.rc
global-exclude __pycache__
global-exclude .editorconfig
global-exclude *.py[co]

recursive-include requirements *.txt

include mishmash/_default-config.ini
graft mishmash/web

prune etc
