eyeD3>=0.7.6
#hg+https://bitbucket.org/nicfit/eyed3@stable#egg=eyeD3
countrycode

SQLAlchemy==0.8.3
psycopg2

pyramid==1.5a2
pyramid_chameleon
pyramid_layout
pyramid_debugtoolbar
pyramid_tm
waitress
transaction
zope.sqlalchemy
